doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Online resume of Luc Caspar')
        meta(name='author', content='Luc Caspar')

        title Resume - Luc Caspar, Ph.D.

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.2/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Luc Caspar, Ph.D.
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#extracurricular') Extracurricular
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#languages') Languages 
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#presentations') Presentations
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#publications') Publications

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Luc
                        span.text-primary Caspar
                        | Ph.D.
                    .subheading.mb-5
                        | 14 Bis rue des trois pics · Mutzig - 67190 · France · (+33) 07.67.26.27.78 · 
                        a(href='mailto:casparluc@gmail.com') casparluc@gmail.com
                    p.lead.mb-5
                       | Recently, graduated from the University of Sheffield with a PhD degree in affective science and machine learning. With seven years experience writing Python software for controlling robots in both real and virtual environments, among other applications.#[br]
                       | Owned a small business centered around Web technologies for four years. Accustomed to working within a Linux environment. Finally, a keen interest for all things related to artificial intelligence, more specifically to the mechanisms underlying memory and learning in the animal's brain, as well as reinforcement learning. I am looking forward to working on projects that will further our understanding of the human mind and contributing toward the creation of a general artificial intelligence.

                    .social-icons
                        a.social-icon(href='https://www.casparluc.me')
                            i.fas.fa-home
                        a.social-icon(href='https://www.linkedin.com/in/luc-caspar')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/casparluc')
                            i.fab.fa-github
                        a.social-icon(href='https://gitlab.com/davinellulinvega')
                            i.fab.fa-gitlab
                        a.social-icon(href='https://stackoverflow.com/users/3897027/domochevski')
                            i.fab.fa-stack-overflow

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    // Sheffield
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='https://www.sheffield.ac.uk/') University of Sheffield
                            .subheading.mb-3 Ph.D. Degree - Machine Learning and Affective Science
                            ul
                               li Worked on my project entitled: #[em "The Role of Emotions in Autonomous Social Agents"], that sits at the crossroad of neuroscience, robotics, artificial intelligence and affective science.
                               li The goal of the project was to show that emotions inform the brain as to the nature of a given situation and guide the decision-making process, to increase the survival potential of virtual agents.
                               li In particular, I showed that by using a computational model of the circuits found at the base of the forebrain a group of virtual agents was able to outperform other emotional agents in terms of survival capabilities.
                        .flex-shrink-0
                            .text-primary Sheffield, The United Kingdom
                            .text-secondary September 2014 - February 2021

                    // Shinjuku Nihongo Gakko
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='https://www.sng.ac.jp/en/') Shinjuku Nihongo Gakko
                            .subheading.mb-3 Language Institution
                            ul 
                               li Enrolled in a language institution in an effort to learn more about the Japanese language and culture.
                               li Completed the beginner and intermediate levels.
                        .flex-shrink-0
                            .text-primary Tokyo, Japan
                            .text-secondary September 2012 - September 2013

                    // Osaka Prefecture University
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='https://www.osakafu-u.ac.jp/en/') Osaka Prefecture University (OPU)
                            .subheading.mb-3 Master Degree - Intelligent System
                            ul
                               li Double degree in computer science and intelligent system achieved through a partnership between the EISTI and OPU.
                        .flex-shrink-0
                            .text-primary Osaka, Japan
                            .text-secondary September 2011 - September 2012

                    // EISTI
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='https://cytech.cyu.fr/') EISTI
                            .subheading.mb-3 Engineer Diploma - Computer Science and Information Processing
                            ul
                               li Private engineering school specialzed in data processing, machine learning, and mathematics.
                        .flex-shrink-0
                            .text-primary Pau, France
                            .text-secondary September 2009 - September 2012

                    // Lycee Couffignal
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='http://www.lyc-couffignal-strasbourg.ac-strasbourg.fr/') Lycée Couffignal
                            .subheading.mb-3 Preparatory Classes for Engineering Schools (CPGE)
                            ul
                               li Part of the post-secondary education system.
                               li These two intensive years provide the knowledge and training required to take the entrance exams for the different engineering schools.
                        .flex-shrink-0
                            .text-primary Strasbourg, France
                            .text-secondary September 2007 - September 2009

                    // Lycee Louis Marchal
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='https://lycee-marchal.com/') Lycée Louis Marchal
                            .subheading.mb-3 Baccalauréat S, specialization engineering sciences
                            ul
                               li Part of the standard French curriculum.
                               li Subjects such as mathematics, physics, mechanics, electronics, and programming are covered in depth.
                        .flex-shrink-0
                            .text-primary Molsheim, France
                            .text-secondary September 2004 - September 2007

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    // Altran
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 AI Consultant & Engineer
                            .subheading.mb-3 
                               a.text-body(href='https://www.altran.com/uk/en') Altran
                            p
                               | Created a workshop for the Museum called #[a(href='http://www.levaisseau.com/en/') #[em "Le Vaisseau"]]. The aim of the workshop was to introduce children between the age of five and twelve to the concepts of AI. For the group activity I was in charge of, I had to build a deep learning system capable of categorizing audio clips, where each clip consisted in a person mimicking the sound of an object or animal. For example, a child would imitate the sound of a car or a lion, and the system would output an image corresponding to a car or a lion, respectively. The system was trained on #[a(href='https://research.google.com/audioset/') Google's Audioset]. The system achieved an 80% accuracy on a test set made of recordings of children mimicking different sound of different objects.
                            p.text-secondary.text-center
                               | Python, Git, Tensorflow, Keras, Websocket, SocketIO, Linux
                        .flex-shrink-0
                            .text-primary Strasbourg, France
                            .text-secondary November 2018 - May 2019

                    // UoS
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 
                               a.text-body(href='https://www.sheffield.ac.uk') The University of Sheffield
                            p
                               | Developed material for the laboratory sessions of the #[em "Machines and Intelligence"] (COM1005) module, whose purpose was to introduce the Nao robot and its Pyton API to students.
                            p.text-secondary.text-center
                               | Python, Nao robot, Naoqi, Git, Latex, Gimp 2.x, Linux
                        .flex-shrink-0
                            .text-primary Sheffield, The United Kingdom
                            .text-secondary October 2015 - January 2016

                    // Omnilog
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Junior Software Engineer
                            .subheading.mb-3 
                               a.text-body(href='http://www.omnilog.fr') Omnilog SA
                            p
                               | Part of the maintenance team for the French newspaper: #[em "Le Monde"], whose mission is to fix any problems within the publication software or the company's website.
                            p.text-secondary.text-center 
                               | Php5, SQL, Javascript, Ajax, JQuery, Html5, Css3, Linux, Git 
                        .flex-shrink-0
                            .text-primary Neully-sur-Seine, France
                            .text-secondary April 2014 - August 2014

                    // ACA
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Junior Software Engineer
                            .subheading.mb-3 
                               a.text-body(href='https://www.aca.fr/?lang=en') Artaud, Courthéoux \& associés (ACA)
                            p
                               | The main mission was the development of a Web Application to manage the customers of an insurance company, along with the different contracts they subscribed to.
                            p.text-secondary.text-center
                               | SQL, Java, Java EE, Java Beans, Javascript, Ajax, JQuery, REST Api, Html5, Css3
                        .flex-shrink-0
                            .text-primary Paris, France
                            .text-secondary July 2013 - February 2014

                    // Creatix-Web
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Co-Founder
                            .subheading.mb-3 Creatix-Web
                            p
                                | A company, created with Nicolas Ilhe, whose focuse was on bulding website and web-designs. It also provided web hosting services. The purpose of this project was to gain experience in programming, management, and client relationship.
                            p.text-secondary.text-center
                               | Php5, SQL, Javascript, Html5, Css3, JQuery, Ajax, Backbone.js, REST Api, Gimp 2.x, Apache 2, Linux
                        .flex-shrink-0
                            .text-primary Paris, France
                            .text-secondary August 2010 - February 2014

            hr.m-0

            // Extracurricular
            section#extracurricular.resume-section
                .resume-section-content
                    h2.mb-5 Extracurricular Activities

                    // ML spe
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Deeplearning.ai
                            .subheading.mb-3 
                               a.text-body(href='https://coursera.org/share/bf685fdb6ba5ecd15653ff0ad3c2c41e') Deep Learning Specialization
                            ul
                               li Neural Networks and Deep Learning
                               li Convolutional Neural Networks
                               li Structuring Machine Learning projects
                               li Improving Deep Neural Networks: Hyperparameters tuning, regularization and optimization
                               li Sequence Models
                        .flex-shrink-0
                            .text-primary Coursera
                            .text-secondary January 2021

                    // RL spe
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Alberta & Alberta Machine Intelligence Institute
                            .subheading.mb-3 
                               a.text-body(href='https://coursera.org/share/eb794221fe372a4a1a6070aa326dc9fc') Reinforcement Learning Specialization
                            ul
                               li Fundamentals of Reinforcement Learning
                               li Sample-based Learning Methods
                               li Prediction and Control with Function Approximation
                               li Implementation of a complete Reinforcement Learning System
                        .flex-shrink-0
                            .text-primary Coursera
                            .text-secondary February 2021

                    // Maths spe
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Imperial College London
                            .subheading.mb-3 
                               a.text-body(href='') Mathematics for Machine Learning Specialization
                            ul
                               li Linear Algebra
                               li Multivariate Calculus
                               li Principal Component Analysis
                        .flex-shrink-0
                            .text-primary Coursera
                            .text-secondary Ongoing

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming 
                    .progress.mb-1(style='height:25px;')
                       .progress-bar(role='progressbar' style='width:70%;' aria-valuemin='0' aria-valuenow='7' aria-valuemax='10') Python - 7 years
                    .progress.mb-1(style='height:25px;')
                       .progress-bar(role='progressbar' style='width:30%;' aria-valuemin='0' aria-valuenow='3' aria-valuemax='10') Java - 3 years
                    .progress.mb-1(style='height:25px;')
                       .progress-bar(role='progressbar' style='width:20%;' aria-valuemin='0' aria-valuenow='2' aria-valuemax='10') Java EE - 2 years
                    .progress.mb-1(style='height:25px;')
                       .progress-bar(role='progressbar' style='width:20%;' aria-valuemin='0' aria-valuenow='2' aria-valuemax='10') C/C++ - 2 years
                    .progress.mb-1(style='height:25px;')
                       .progress-bar(role='progressbar' style='width:10%;' aria-valuemin='0' aria-valuenow='1' aria-valuemax='10') Bash - 1 year

                    .subheading.mb-3 Frameworks
                    p
                       | Numpy / SciPy, DEAP, Thespian, Tensorflow, Keras, OpenAi Gym, HDF5 / h5py, SocketIO

                    .subheading.mb-3 Web Development
                    p
                       | Html 4/5, Php 7, Css 2/3, Javascript, Ajax, JQuery, REST Api, Backbone.js, Django, Websockets, Requests

                    .subheading.mb-3 Integrated Development Environment
                    p
                       | PyCharm, Vim / NeoVim

                    .subheading.mb-3 Office
                    p
                       | Latex, LibreOffice

                    .subheading.mb-3 Robotics
                    p
                       | Robot Operating System (ROS), Webots, E-Puck robot, Nao robot, Naoqi, Sphero, Gazebo

                    .subheading.mb-3 Design
                    p
                       | Inkscape, Gimp 2.x, Dia

                    .subheading.mb-3 System Administration
                    p
                       | Apache 2.x, Arch Linux, Ubuntu Desktop / Server

                    .subheading.mb-3 Machine Learning
                    p
                       | Reinforcement Learning, Genetic Algorithms, Artificial/Convolutional Neural Networks, LEABRA / Emergent

                    .subheading.mb-3 Databases
                    p
                       |MySql, MariaDB 

                    .subheading.mb-3 Miscellaneous
                    p
                       | Mendeley, Amazon Web Services

            hr.m-0

            // Languages
            section#languages.resume-section
                .resume-section-content
                    h2.mb-5 Languages
                    p
                        | Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.
                    p.mb-0
                        | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.

            hr.m-0

            // Presentations
            section#presentations.resume-section
                .resume-section-content
                    h2.mb-5 Presentations
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Google Analytics Certified Developer
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Mobile Web Specialist - Google Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 2
                            sup nd 
                            | Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - James Buchanan High School - Hackathon 2006
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 3
                            sup rd 
                            | Place - James Buchanan High School - Hackathon 2005

            hr.m-0

            // Publications
            section#publications.resume-section
                .resume-section-content
                    h2.mb-5 Publications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Google Analytics Certified Developer
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Mobile Web Specialist - Google Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 2
                            sup nd 
                            | Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - James Buchanan High School - Hackathon 2006
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 3
                            sup rd 
                            | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
