doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Online resume of Luc Caspar')
        meta(name='author', content='Luc Caspar')

        title Resume - Luc Caspar, Ph.D.

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.2/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Luc Caspar, Ph.D.
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/brain.jpg', alt='profile picture')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#extracurricular') Extracurricular
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#languages') Languages 
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#presentations') Presentations
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#publications') Publications

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Luc
                        span.text-primary Caspar
                        | Ph.D.
                    .subheading.mb-5
                        | 14 Bis rue des trois pics · Mutzig - 67190 · France · (+33) 07.67.26.27.78 · 
                        a(href='mailto:casparluc@gmail.com') casparluc@gmail.com
                    p.lead.mb-5
                       | Recently graduated from the University of Sheffield with a PhD degree in affective science and machine learning. With seven years experience writing Python software for controlling robots in both real and virtual environments, among other applications.#[br]
                       | Owned a small business centered around Web technologies for four years. Accustomed to working within a Linux environment. Finally, a keen interest for all things related to artificial intelligence, more specifically to the mechanisms underlying memory and learning in the animal's brain, as well as reinforcement learning. Looking forward to working on projects that will further our understanding of the human mind and contributing toward the creation of a general artificial intelligence.

                    .social-icons
                        a.social-icon(href='https://www.casparluc.me')
                            i.fas.fa-home
                        a.social-icon(href='https://www.linkedin.com/in/luc-caspar')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/casparluc')
                            i.fab.fa-github
                        a.social-icon(href='https://gitlab.com/davinellulinvega')
                            i.fab.fa-gitlab
                        a.social-icon(href='https://stackoverflow.com/users/3897027/domochevski')
                            i.fab.fa-stack-overflow
                        a.social-icon(href='assets/pdf/resume_Caspar_Luc_long.pdf' target='_blank')
                            i.fas.fa-file-pdf

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    // Sheffield
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='https://www.sheffield.ac.uk/') University of Sheffield
                            .subheading.mb-3 Ph.D. Degree - Machine Learning and Affective Science
                            ul
                               li Worked on my project entitled: #[em "The Role of Emotions in Autonomous Social Agents"], that sits at the crossroad of neuroscience, robotics, artificial intelligence and affective science.
                               li The goal of the project was to show that emotions inform the brain as to the nature of a given situation and guide the decision-making process, to increase the survival potential of virtual agents.
                               li In particular, I showed that by using a computational model of the circuits found at the base of the forebrain a group of virtual agents was able to outperform other emotional agents in terms of survival capabilities.
                        .flex-shrink-0
                            .text-primary Sheffield, The United Kingdom
                            .text-secondary September 2014 - February 2021

                    // Shinjuku Nihongo Gakko
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='https://www.sng.ac.jp/en/') Shinjuku Nihongo Gakko
                            .subheading.mb-3 Language Institution
                            ul 
                               li Enrolled in a language institution in an effort to learn more about the Japanese language and culture.
                               li Completed the beginner and intermediate levels.
                        .flex-shrink-0
                            .text-primary Tokyo, Japan
                            .text-secondary September 2012 - September 2013

                    // Osaka Prefecture University
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='https://www.osakafu-u.ac.jp/en/') Osaka Prefecture University (OPU)
                            .subheading.mb-3 Master Degree - Intelligent System
                            ul
                               li Double degree in computer science and intelligent system achieved through a partnership between the EISTI and OPU.
                        .flex-shrink-0
                            .text-primary Osaka, Japan
                            .text-secondary September 2011 - September 2012

                    // EISTI
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='https://cytech.cyu.fr/') EISTI
                            .subheading.mb-3 Engineer Diploma - Computer Science and Information Processing
                            ul
                               li Private engineering school specialzed in data processing, machine learning, and mathematics.
                        .flex-shrink-0
                            .text-primary Pau, France
                            .text-secondary September 2009 - September 2012

                    // Lycee Couffignal
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='http://www.lyc-couffignal-strasbourg.ac-strasbourg.fr/') Lycée Couffignal
                            .subheading.mb-3 Preparatory Classes for Engineering Schools (CPGE)
                            ul
                               li Part of the post-secondary education system.
                               li These two intensive years provide the knowledge and training required to take the entrance exams for the different engineering schools.
                        .flex-shrink-0
                            .text-primary Strasbourg, France
                            .text-secondary September 2007 - September 2009

                    // Lycee Louis Marchal
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='https://lycee-marchal.com/') Lycée Louis Marchal
                            .subheading.mb-3 Baccalauréat S, specialization engineering sciences
                            ul
                               li Part of the standard French curriculum.
                               li Subjects such as mathematics, physics, mechanics, electronics, and programming are covered in depth.
                        .flex-shrink-0
                            .text-primary Molsheim, France
                            .text-secondary September 2004 - September 2007

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    // Altran
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 AI Consultant & Engineer
                            .subheading.mb-3 
                               a.text-body(href='https://www.altran.com/uk/en') Altran
                            p
                               | Created a workshop for the Museum called #[a(href='http://www.levaisseau.com/en/') #[em "Le Vaisseau"]]. The aim of the workshop was to introduce children between the age of five and twelve to the concepts of AI. For the group activity I was in charge of, I had to build a deep learning system capable of categorizing audio clips, where each clip consisted in a person mimicking the sound of an object or animal. For example, a child would imitate the sound of a car or a lion, and the system would output an image corresponding to a car or a lion, respectively. The system was trained on #[a(href='https://research.google.com/audioset/') Google's Audioset]. The system achieved an 80% accuracy on a test set made of recordings of children mimicking different sound of different objects.
                            p.text-secondary.text-center
                               | Python, Git, Tensorflow, Keras, Websocket, SocketIO, Linux
                        .flex-shrink-0
                            .text-primary Strasbourg, France
                            .text-secondary November 2018 - May 2019

                    // UoS
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 
                               a.text-body(href='https://www.sheffield.ac.uk') The University of Sheffield
                            p
                               | Developed material for the laboratory sessions of the #[em "Machines and Intelligence"] (COM1005) module, whose purpose was to introduce the Nao robot and its Pyton API to students.
                            p.text-secondary.text-center
                               | Python, Nao robot, Naoqi, Git, Latex, Gimp 2.x, Linux
                        .flex-shrink-0
                            .text-primary Sheffield, The United Kingdom
                            .text-secondary October 2015 - January 2016

                    // Omnilog
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Junior Software Engineer
                            .subheading.mb-3 
                               a.text-body(href='http://www.omnilog.fr') Omnilog SA
                            p
                               | Part of the maintenance team for the French newspaper: #[em "Le Monde"], whose mission is to fix any problems within the publication software or the company's website.
                            p.text-secondary.text-center 
                               | Php5, SQL, Javascript, Ajax, JQuery, Html5, Css3, Linux, Git 
                        .flex-shrink-0
                            .text-primary Neully-sur-Seine, France
                            .text-secondary April 2014 - August 2014

                    // ACA
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Junior Software Engineer
                            .subheading.mb-3 
                               a.text-body(href='https://www.aca.fr/?lang=en') Artaud, Courthéoux & associés (ACA)
                            p
                               | The main mission was the development of a Web Application to manage the customers of an insurance company, along with the different contracts they subscribed to.
                            p.text-secondary.text-center
                               | SQL, Java, Java EE, Java Beans, Javascript, Ajax, JQuery, REST Api, Html5, Css3
                        .flex-shrink-0
                            .text-primary Paris, France
                            .text-secondary July 2013 - February 2014

                    // Creatix-Web
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Co-Founder
                            .subheading.mb-3 Creatix-Web
                            p
                                | A company, created with Nicolas Ilhe, whose focuse was on bulding website and web-designs. It also provided web hosting services. The purpose of this project was to gain experience in programming, management, and client relationship.
                            p.text-secondary.text-center
                               | Php5, SQL, Javascript, Html5, Css3, JQuery, Ajax, Backbone.js, REST Api, Gimp 2.x, Apache 2, Linux
                        .flex-shrink-0
                            .text-primary Paris, France
                            .text-secondary August 2010 - February 2014

            hr.m-0

            // Extracurricular
            section#extracurricular.resume-section
                .resume-section-content
                    h2.mb-5 Extracurricular Activities

                    // ML spe
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Deeplearning.ai
                            .subheading.mb-3 
                               a.text-body(href='https://coursera.org/share/bf685fdb6ba5ecd15653ff0ad3c2c41e') Deep Learning Specialization
                            ul
                               li Neural Networks and Deep Learning
                               li Convolutional Neural Networks
                               li Structuring Machine Learning projects
                               li Improving Deep Neural Networks: Hyperparameters tuning, regularization and optimization
                               li Sequence Models
                        .flex-shrink-0
                            .text-primary Coursera
                            .text-secondary January 2021

                    // RL spe
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Alberta & Alberta Machine Intelligence Institute
                            .subheading.mb-3 
                               a.text-body(href='https://coursera.org/share/eb794221fe372a4a1a6070aa326dc9fc') Reinforcement Learning Specialization
                            ul
                               li Fundamentals of Reinforcement Learning
                               li Sample-based Learning Methods
                               li Prediction and Control with Function Approximation
                               li Implementation of a complete Reinforcement Learning System
                        .flex-shrink-0
                            .text-primary Coursera
                            .text-secondary February 2021

                    // Maths spe
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Imperial College London
                            .subheading.mb-3 
                               a.text-body(href='') Mathematics for Machine Learning Specialization
                            ul
                               li Linear Algebra
                               li Multivariate Calculus
                               li Principal Component Analysis
                        .flex-shrink-0
                            .text-primary Coursera
                            .text-secondary Ongoing

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming 
                    .container-fluid
                       .row
                          .col-3 
                             .text-body Python
                          .col-9
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:58%;' aria-valuemin='0' aria-valuenow='7' aria-valuemax='12') 7 ys

                       .row
                          .col-3 
                             .text-body Java
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:33%;' aria-valuemin='0' aria-valuenow='3' aria-valuemax='12') 4 ys
                       .row
                          .col-3 
                             .text-body Java EE
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:17%;' aria-valuemin='0' aria-valuenow='2' aria-valuemax='12') 2 ys

                       .row
                          .col-3 
                             .text-body C/C++
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:8%;' aria-valuemin='0' aria-valuenow='2' aria-valuemax='12') 1 y

                       .row
                          .col-3 
                             .text-body Bash
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:8%;' aria-valuemin='0' aria-valuenow='1' aria-valuemax='12')  1 y

                    .subheading.mb-3 Frameworks
                    .container-fluid
                       .row
                          .col-3 
                             a.text-body(href='https://numpy.org/install/') Numpy
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:50%;' aria-valuemin='0' aria-valuenow='7' aria-valuemax='12') 6 ys

                       .row
                          .col-3 
                             a.text-body(href='https://www.scipy.org/scipylib/index.html') Scipy
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:8%;' aria-valuemin='0' aria-valuenow='2' aria-valuemax='12') 1 y

                       .row
                          .col-3 
                             a.text-body(href='https://deap.readthedocs.io/en/master/') DEAP
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:25%;' aria-valuemin='0' aria-valuenow='4' aria-valuemax='12') 3 ys

                       .row
                          .col-3 
                             a.text-body(href='http://thespianpy.com/doc/') Thespian
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:17%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 2 ys

                       .row
                          .col-3 
                             a.text-body(href='https://www.tensorflow.org/') Tensorflow
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:33%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 4 ys

                       .row
                          .col-3 
                             a.text-body(href='https://keras.io/') Keras
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:33%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 4 ys

                       .row
                          .col-3 
                             a.text-body(href='https://gym.openai.com/') OpenAI Gym
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:8%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 1 y

                       .row
                          .col-3 
                             a.text-body(href='https://docs.h5py.org/en/latest/') HDF5 / H5py
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:25%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 3 ys

                       .row
                          .col-3 
                             a.text-body(href='https://python-socketio.readthedocs.io/en/latest/') SocketIO
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:17%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 2 ys

                       .row 
                          .col-3 
                             a.text-body(href='https://pandas.pydata.org/pandas-docs/stable/index.html') Pandas
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:17%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 2 ys

                    .subheading.mb-3 Web Development
                    .container-fluid
                       .row
                          .col-3.text-body Html 4/5
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:42%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 5 ys

                       .row
                          .col-3.text-body Php 5
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:33%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 4 ys

                       .row
                          .col-3.text-body CSS 2/3
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:42%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 5 ys

                       .row
                          .col-3.text-body JavaScript
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:42%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 5 ys

                       .row
                          .col-3.text-body Ajax
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:33%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 4 ys

                       .row
                          .col-3.text-body JQuery
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:33%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 4 ys

                       .row
                          .col-3.text-body REST Api
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:33%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 4 ys

                       .row
                          .col-3 
                             a.text-body(href='https://backbonejs.org/') Backbone.js
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:17%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 2 ys

                       .row
                          .col-3 
                             a.text-body(href='https://www.djangoproject.com/') Django
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:8%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 1 y

                       .row
                          .col-3
                             a.text-body(href='https://websockets.readthedocs.io/en/stable/') Websockets
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:17%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 2 ys

                       .row
                          .col-3
                             a.text-body(href='https://requests.readthedocs.io/en/master/') Requests
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:17%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 2 ys

                    .subheading.mb-3 Integrated Development Environment
                    .container-fluid
                       .row
                          .col-3
                             a.text-body(href='https://www.jetbrains.com/pycharm/') PyCharm
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:42%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 5 ys

                       .row
                          .col-3
                             a.text-body(href='https://neovim.io/') Vim / NeoVim
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:67%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 8 ys

                    .subheading.mb-3 Office
                    .container-fluid
                       .row
                          .col-3 
                             a.text-body(href='https://www.latex-project.org/') Latex
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:50%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 6 ys

                       .row
                          .col-3 
                             a.text-body(href='https://www.libreoffice.org/') LibreOffice
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:75%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 9 ys

                    .subheading.mb-3 Robotics
                    .container-fluid
                       .row
                          .col-3 
                             a.text-body(href='https://www.ros.org/') ROS
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:8%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 1 y

                       .row
                          .col-3 
                             a.text-body(href='https://www.cyberbotics.com/') Webots
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:8%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 1 y

                       .row
                          .col-3 
                             a.text-body(href='http://www.e-puck.org/') E-Puck Robot
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:8%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 1 y

                       .row
                          .col-3 
                             a.text-body(href='https://us.softbankrobotics.com/nao') Nao Robot
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:8%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 1 y

                       .row
                          .col-3 
                             a.text-body(href='http://doc.aldebaran.com/2-1/naoqi/index.html#naoqi-api') Naoqi
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:8%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 1 y

                       .row
                          .col-3 
                             a.text-body(href='https://sphero.com/') Sphero
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:8%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 1 y

                       .row
                          .col-3
                             a.text-body(href='http://gazebosim.org/') Gazebo 
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:8%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 1 y

                    .subheading.mb-3 Design
                    .container-fluid
                       .row
                          .col-3 
                             a.text-body(href='https://inkscape.org/') Inkscape
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:42%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 5 ys

                       .row
                          .col-3 
                             a.text-body(href='https://www.gimp.org/') Gimp 2.x
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:83%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 10 ys

                       .row
                          .col-3 
                             a.text-body(href='http://dia-installer.de/') Dia
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:58%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 7 ys

                    .subheading.mb-3 System Administration
                    .container-fluid
                       .row
                          .col-3 
                             a.text-body(href='http://httpd.apache.org/') Apache
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:42%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 5 ys

                       .row
                          .col-3 
                             a.text-body(href='https://archlinux.org/') Arch Linux
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:58%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 7 ys

                       .row
                          .col-3 
                             a.text-body(href='https://ubuntu.com/') Ubuntu Desktop / Server
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:42%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 5 ys

                    .subheading.mb-3 Machine Learning
                    .container-fluid
                       .row
                          .col-3.text-body Reinforcement Learning
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:58%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 7 ys

                       .row
                          .col-3.text-body Genetic Algorithm
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:58%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 7 ys

                       .row
                          .col-3.text-body ANN / CNN
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:58%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 7 ys

                       .row
                          .col-3 
                             a.text-body(href='https://github.com/emer/emergent') LEABRA / Emergent
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:25%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 3 ys

                    .subheading.mb-3 Databases
                    .container-fluid
                       .row
                          .col-3 
                             a.text-body(href='https://www.mysql.com/') MySql
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:33%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 4 ys

                       .row
                          .col-3 
                             a.text-body(href='https://mariadb.com/') MariaDB
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:8%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 1 y

                    .subheading.mb-3 Miscellaneous
                    .container-fluid
                       .row
                          .col-3 
                             a.text-body(href='https://www.mendeley.com/search/') Mendeley
                          .col-9 
                             .progress.mb-1(style='height:25px;') 
                                .progress-bar(role='progressbar' style='width:58%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 7 ys

                       .row
                          .col-3 
                             a.text-body(href='https://aws.amazon.com/') Amazon Web Services
                          .col-9 
                             .progress.mb-1(style='height:25px;')
                                .progress-bar(role='progressbar' style='width:50%;' aria-valuemin='0' aria-valuenow='0' aria-valuemax='12') 6 ys

            hr.m-0

            // Languages
            section#languages.resume-section
                .resume-section-content
                    h2.mb-5 Languages
                    table.table-borderless
                       tr
                          td.subheading.text-body.pr-5 French
                          td Native
                       tr
                          td.subheading.text-body.pr-5 English
                          td TOEIC: 900, TOEFL: 105
                       tr
                          td.subheading.text-body.pr-5 Japanese
                          td Beginner
                       tr
                          td.subheading.text-body.pr-5 German
                          td Beginner

            hr.m-0

            // Presentations
            section#presentations.resume-section
                .resume-section-content
                    h2.mb-5 Presentations

                    // AISB
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='http://aisb2017.cs.bath.ac.uk/index.html') Artificial Intelligence and Simulation of Behavior (AISB) Convention
                            .subheading.mb-3 Talk
                            ul
                               li A presentation detailing the ProtoEmo architecture, which was developed during my PhD project, and whose design is based on the survival circuits made of the Thalamus, Amygdala, and Hypothalamus (three areas found at the base of the animal's brain).
                               li The talk also described the simulation results gathered using ProtoEmo as a control mechanism for groups of virtual agents having to survive in a dynamic environment.
                        .flex-shrink-0
                            .text-primary Bath, The United Kingdom
                            .text-secondary 
                               | 21 
                               sup st
                               | April 2017

                    // EuCog
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0
                               a.text-body(href='http://www.eucognition.org/index.php?page=2016-vienna-general-info') EUCognition Meeting
                            .subheading.mb-3 Poster
                            ul
                               li Presented a poster introducing the basic concepts upon which the ProtoEmo architecture had been developed.
                               li The poster also contained some preliminary simulation results showing the potential of the ProtoEmo architecture as a control / decision-making system.
                        .flex-shrink-0
                            .text-primary Vienna, Austria
                            .text-secondary 
                               | 8 
                               sup th
                               | December 2016

                    // SICE
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 SICE annual Conference
                            .subheading.mb-3 Talk
                            ul
                               li An extended presentation of the results gathered during my master project at Osaka Prefecture University.
                        .flex-shrink-0
                            .text-primary Osaka, Japan
                            .text-secondary 2012

                    // SCI
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 SCI
                            .subheading.mb-3 Talk
                            ul
                               li A presentation describing the model of emotions developed for my master project.
                               li The talk also included some preliminary results showing the potential of using emotions in teams of co-evolving robots.
                        .flex-shrink-0
                            .text-primary Osaka, Japan
                            .text-secondary 2012

            hr.m-0

            // Publications
            section#publications.resume-section
                .resume-section-content
                    h2.mb-5 Publications

                    // ReScience
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 [Re] An Anatomically Constrained Neural Network Model of Fear Conditioning
                            .subheading.mb-3 Author
                            ul
                               li 
                                  | Describes the reproduction of an experiment first reported by Armony et al. (1995) in an article entitled:
                                  em "An Anatomically Constrained Neural Network of Fear Conditioning"
                               li 
                                  | The original paper describes a computational model of the 
                                  em 'Two pathways to the Amygdala'
                                  | which uses non-linear neural units to approximate the behavior of a population of real neurons, and learns via a modified Hebbian update rule.
                               li Replicated in this paper is a classical conditioning experiment showing that the model exhibits conditioned responses analogous to  those observed in animals, and that units within the model exhibit changes in activity during conditioning similar to those observed in single-cell recordings.
                        .flex-shrink-0
                            .text-primary 
                               a(href='http://rescience.github.io/') Rescience C
                            .text-secondary Ongoing

                    // IEEE ProtoEmo
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                               b ProtoEmo
                               | : Investigating the role of the 
                               em 'Survival Circuits'
                               | in social agents
                            .subheading.mb-3 Author
                            ul
                               li 
                                  | Emotions have been described as a mechanism that evolved to increase the survival potential of animals. Relying on this definition, LeDoux (2012) suggested that in the animal's brain there exist 
                                  em 'Survival Circuits'
                                  | in charge of maintaining the body's homeostasis. He further theorized that those same circuits act as the trigger to an emotional episode.
                               li 
                                  | Using LeDoux's survival circuit theory, the 
                                  b ProtoEmo
                                  | architecture modeled after the connections between the Thalamus, the Amygdala, and the Hypothalamus was built to investigate if the survival circuits, identified as being essential to an animal's survival, could also be applied to influence the actions of virtual agents.
                               li 
                                  | To explore the validity of this hypothesis, the 
                                  b ProtoEmo
                                  | architecture was used as a control mechanism for groups of virtual agents in a resource foraging task. In addition from foraging for energy, each agent could fight, run away, and procreate. For this simulation, the agents' ultimate goal was to at least survive, and at best increase the size of the population.
                               li 
                                  | Compared to other emotional agents, the virtual agents controlled by the 
                                  b ProtoEmo
                                  | architecture managed to evolve a strategy which allowed them to increase the group's size ten fold. Thus, it was concluded that not only are the survival circuits also applicable to virtual agents, the amygdala was also identified as the trigger for more complex full-fledged emotions.
                        .flex-shrink-0
                            .text-primary 
                               a(href='https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=5165369') IEEE Transactions on Affective Computing
                            .text-secondary Ongoing

                    // IEEE PrimEmo
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0
                               b PrimEmo
                               | : Investigating the role of emotions in the decision-making process
                            .subheading.mb-3 Author
                            ul
                               li 
                                  | Based on the results gathered via the 
                                  b ProtoEmo
                                  | architecture, I hypothesized that the addition of a system capable of encoding the salience of survival relevant situational features would enhance the survival capabilities of virtual agents in complex and dynamic environments. Furthermore, the mechanisms responsible for representing a feature's salience would also trigger an emotional episode.
                               li 
                                  | To investigate the validity of those hypotheses, the
                                  b ProtoEmo
                                  | architecture has been combined with a model of the decision-making process developed by Frank et al. (2001). The resulting system was named
                                  b PrimEmo
                                  | and has been tested in a more complex version of the resource foraging task.
                               li 
                                  | Viking Doom is an online roguelike game in which multiple heroes have to collect as much gold as possible in a given amount of time. Each hero is characterized by a level of strength, its remaining level of health, and the amount of gold gathered so far. To grow stronger a hero can fight against different types of enemies, at the risk of dying if its life is depleted. Finally, on the contrary to the resource foraging task used for the 
                                  b ProtoEmo
                                  | architecture, heroes did not belong to the same group, and could, therefore, also fight against each other.
                               li 
                                  | A hero controlled by the
                                  b PrimEmo
                                  | architecture was compared to two heroes which used DQN and A2C, respectively, to learn an optimal strategy. In the end, although, the
                                  b PrimEmo
                                  | controller performed similarly to the A2C, the strategies adopted by each learning mechanism were quite different. Indeed, whereas the A2C had a rather
                                  em 'aggressive'
                                  | policy, which focused on gathering gold at the risk of killing its hero,
                                  b PrimEmo
                                  | more highly valued the life of its agent, giving up gold if it meant keeping its hero alive.
                        .flex-shrink-0
                            .text-primary
                               a(href='https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=5165369') IEEE Transactions on Affective Computing
                            .text-secondary Ongoing

                    // WhiteRose Thesis
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 The Role of Emotions in Autonomous Social Agents
                            .subheading.mb-3 Author
                            ul
                               li The thesis describing the different steps, architectures, simulations, and experimental results obtained during my PhD project.
                        .flex-shrink-0
                            .text-primary 
                               a(href='http://etheses.whiterose.ac.uk/28366/') White Rose eTheses Online
                            .text-secondary February 2020

                    // AISB
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 
                               b PrimEmo
                               | : A Neural Implementation of Survival Circuits Supporting Primitive Emotions
                            .subheading.mb-3 Author
                            ul
                               li An article presented at the AISB convention in 2017, detailing the PrimEmo architecture developed during my PhD degree. 
                        .flex-shrink-0
                            .text-primary 
                               a(href='https://cris.brighton.ac.uk/ws/portalfiles/portal/452820/conference-edition-proceedings.pdf' target='_blank') Proceedings of AISB Annual Convention 2017
                            .text-secondary 2017

                    // SICE 2012
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Introduction of Emotions in Coevolving Multi-agent System
                            .subheading.mb-3 Author
                            ul
                               li A second article presented at the SICE conference during my master degree at Osaka Prefecture University.
                               li Details the model of human emotions developed for my master project.
                        .flex-shrink-0
                            .text-primary Proceedings of SICE annual conference 2012
                            .text-secondary 2012

                    // SCI 2012
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Emotion and Coevolution of Learning Robots Teams
                            .subheading.mb-3 Author
                            ul
                               li An article presented at the SCI conference during my master degree at Osaka Prefecture University.
                               li Introduces the model of human emotions built during my master project.
                        .flex-shrink-0
                            .text-primary Proceedings of SCI annual conference 2012
                            .text-secondary 2012

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
